/* @layer theme, base, mui, components, utilities; */

/* Existing Tailwind imports were disabled because of style overrides. */
/* @import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/preflight' layer(base);
@import 'tailwindcss/utilities' layer(utilities); */
/* @custom-variant dark (&:is(.dark *)); */

@import 'tailwindcss';

@layer theme, base, mui, components, utilities;

@layer mui {
  /* This is handled automatically by the Cache Provider when enableCssLayer: true is set */
}
@layer components {
  .inset-shadow-indigo-500 {
    box-shadow: inset 0 2px 4px 0 rgb(99 102 241 / 0.5);
  }
}
